body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: black;
  color: white;
  padding-top: 80px;
  max-width: 100vw;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  z-index: 1000;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.language-switch {
  position: absolute;
  top: 20px;
  right: 80px;
}

.language-switch button {
  padding: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px;
  margin: 0 auto;
}

p {
  text-align: left;
}

h1 {
  text-align: left;
  position: absolute;
  top: 24px;
  z-index: 1100;
}
h2 {
  text-align: left;
}

.command-block {
  margin-bottom: 20px;
  padding: 10px;
  border-left: 5px solid #00ff00;
}

h3 code {
  background-color: #222;
  padding: 5px;
  color: #00ff00;
}

code {
  background-color: #333;
  padding: 5px;
  font-family: monospace;
  color: #ffcc00;
}

ul {
  padding-left: 20px;
}

.slider {
  position: relative;
  max-width: 90vw; /* или убери max-width вообще */
  margin-top: 20px;
  overflow: hidden;
}

.slide {
  display: none;
  width: 99%; /* Используем 100% для ширины, чтобы картинка всегда занимала доступную ширину */
  height: auto; /* Сохраняем пропорции */
  border: 2px solid white; /* Белая рамка вокруг изображения */
  border-radius: 10px;
  margin: 0 auto; /* Центрируем картинку */
}


.slide.active {
  display: block;
}


.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.25);
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.slider .prev {
  left: 12px;
}

.slider .next {
  right: 12px;
}
.thumbnails {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.thumbnail {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border: 2px solid transparent;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s, border 0.3s;
}

.thumbnail.active {
  border-color: white;
  opacity: 1;
}
